
.container-list {
  .e-full-width {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #B7A43A
    ;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .element-description {
    padding: 16px;
    label {
      font-weight: bold;
      padding-right: 15px;
    }
  }

  .element-description-attribution {
    opacity: 0.5;
  }

}
